@import url(global.css);

body.active{
    overflow-y: hidden;
}

/* Elementos Fixos ------------------------------------------------------------------ */

.btnFixed{
    position: fixed;
    z-index: 1;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnFixed:hover{
    transform: translateY(-5px);
}

#btnUp{
    width: 28px;
    height: 28px;
    background: url(/assets/img/icones/btnSub.png);
    bottom: 35px;
    left: 30px;
}

#btnWhatsapp{
    width: 42px;
    height: 42px;
    background: url(/assets/img/icones/btnWpp.png);
    bottom: 30px;
    right: 30px;
}

/* Seção 1 ------------------------------------------------------------------ */

#sctOne{
    width: 100%;
    height: 650px;
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    background: linear-gradient(90deg, #1e73becf,#35dab4c1), 
    url(/assets/img/banners/bannerAx.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/* Toggle Menu -------------------------------------------------------- */

.toggleMenu{
    display: none;
}

/* Barra de Navegação --------------------------------------------- */

#navBar{
    width: 100%;
    height: 55px;  
    padding: 0 0 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#axLogo{
    height: 100%;
}

#axLogo img{
    height: 100%;
}

#navBarLinks{
    display: flex;
    align-items: center;
}

.navLink{
    padding: 0 45px 0 0;
}

.navLink a{
    font-size: 14px;
    font-weight: 300;
    color: var(--cor5);
    position: relative;
    transition: all .5s ease-in-out;
}

.navLink a:hover{
    color: #fff;
}

.navLink a::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: linear-gradient(90deg, transparent, #fff);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navLink a:hover::after{
    transform: scaleX(1);
    transform-origin: left; 
}

#navBtn{
    width: 170px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}

#navBtn:hover{
    background: #fff;
}

#navBtn a{
    font-size: 12px;
    color: #fff;
    transition: all .5s ease-in-out;
}

#navBtn:hover a{
    color: var(--cor3);
}

/* Boas Vindas --------------------------------------------- */

#boasVindas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boasVindas h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}  

#boasVindas h3{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

#btnBv{
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-image-slice: 1;
    color: #fff;
    margin-top: 40px;
    padding: 10px 30px;
    transition: all .4s ease-in-out;
}

#btnBv:hover{
    transform: translateY(5px);
    border: 1px solid #fff;
    background: #fff;
    color: var(--cor3);
}

/* Ícones Redes Sociais --------------------------------------------- */

.iconsRs{
    margin: 0 10px;
    width:22px;
    fill: var(--cor5);
    transition: all .3s ease-in;
}

.iconsRs:hover{transform: translateY(-5px);}

.iconsRs.f:hover{fill: #2973BA;}
.iconsRs.i:hover{fill: #E03173;}
.iconsRs.w:hover{fill: #5AF472;}

/* Faixa Informações ------------------------------------------------------------------ */

#infoOne{
    width: 100%;
    height: 220px;
    background: #23262d ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 30px;
}

#infoOne h1{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Seção Dois ------------------------------------------------------------------ */

#sctTwo{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background: transparent;
}

/* Vídeo --------------------------------------------- */

#techVideo{
    position: absolute;
    filter: opacity(90%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* Cards Visão --------------------------------------------- */

.cardVisao{
    width: 310px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardVisao > img{
    width: 90px;
}

.cardVisao.est{
    padding-bottom: 80px;
}


.tituloCard{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    padding: 35px 0 30px 0;
}

.descricaoCard{
    text-align: center;
    font-size: 15px;
    color: #d5d5d5;
    font-weight: 300;
}

/* Seção Três ------------------------------------------------------------------ */

#sctThree{
    width: 100%;
    height: 725px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#sctThree > section{
    display: flex;
}

.cardVtg{
    width: 290px;
    height: 370px;
    margin: 0 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    position: relative;
}

.cardImg{
    width: 63px;
    height: 68px;
}

.cardImg.se{
    width: 63px;
    padding: 4.5px 0;
}
.cardImg.eq{
    width: 46px;
    padding: 4.5px 0;
}
.cardImg.es{
    width: 55px;
    height: 68px;
}
.cardImg.ri{
    width: 60px;
    padding: 4.5px 0;
}

.tituloVtg{
    font-size: 24px;
    color: var(--cor1);
    font-weight: 500;
    padding: 35px 0 40px 0;
}

.descricaoVtg{
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

.conector{
    position: absolute;
    right: -45px;
    bottom: 42%;
    z-index: 1;
}

.conector.n{
    display: none;
}

/* Seção Quatro ------------------------------------------------------------------ */

#sctFour{
    width: 100%;
    padding: 40px 38px 130px 38px;
    background: #f8f8f8;
}

.sctsTitle{
    display: inline-block;
    position: relative;
    color: var(--cor3);
    font-size: 24px;
    font-weight: 500;
}

.sctsTitle::after{
    content: '';
    width: 35%;
    height: 2px;
    position: absolute;
    background: linear-gradient(90deg, #f8f8f8, var(--cor1));
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

#servicos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

/* Detalhes ------------------------------------- */

.svcDetalhes{
    width: 100%;
    height: 100%;
    top: 0;
    background: #00000099;
    position: fixed;    
    z-index: 3;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.svcDetalhes.active{
    transform: scale(1);
}

.svcCardDetalhes, #tpEvt{
    position: absolute;
    width: 50%;
    padding: 20px;
    background: #fff;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toggleDetalhes{
    width: 30px;
    height: 30px;
    background: url(/assets/img/icones/menuX.svg);
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    filter: invert();
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.svcCardDetalhes span{
    color: var(--cor3);
    font-weight: bold;
}

.svcCardDetalhes > h3{
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--cor1), var(--cor2));
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.svcCardDetalhes > p{
    font-size: 14px;
    color: #787D85;
    margin-top: 10px;
    text-align: justify;
}

.svcCardDetalhes > h5{
    font-size: 14px;
    color: #787D85;
    font-weight: bold;
    margin: 10px 0;
}

.svcCardDetalhes li, #tpEvt li{
    color: #787D85;
    margin: 6px 0 0 25px;
}

.svcCardDetalhes li::before, #tpEvt li::before{
    content: '';
    width: 18px;
    height: 18px;
    margin-top: 3.5px;
    left: 18px;
    background: url(/assets/img/icones/arrow.png);
    background-size: cover;
    position: absolute;
}

#tpEvt li::before{
    margin-top: 0;
}

#tpEvtBtn{
    display: inline-block;
    margin-top: 15px;
    padding: 2px 15px;
    border: 1px solid var(--cor1);
    cursor: pointer;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#tpEvtBtn:hover{
    transform: translateX(10px);
    background: var(--cor1);
    color: #fff;
}

.svcCardDetalhes.evt{
    transform: scale(1);
}

.svcCardDetalhes.evt.off{
    transform: scale(0);
}

#tpEvt{
    position: absolute;
    transform: scale(0);
    z-index: 5;
}

#tpEvt.active{
    transform: scale(1);
}

#tpEvt > h5{
    font-size: 18px;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--cor1), var(--cor2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#toggleEvt{
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(/assets/img/icones/menuX.svg);
    background-size: cover;
    top: 20px;
    right: 20px;
    cursor: pointer;
    filter: invert();
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggleDetalhes:hover, #toggleEvt:hover{
    transform: translateY(-3px);
}

/* ---------------------------------------------- */

.svcBox{    
    width: 592px;
    height: 387px;
    display: flex;
}

.svcBox section{
    width: 50%;
    height: 100%;
}

.svcImg.seg{background: url(/assets/img/serviços/segImg.png);}
.svcImg.ala{background: url(/assets/img/serviços/alaImg.png);}
.svcImg.cer{background: url(/assets/img/serviços/cerImg.png);}
.svcImg.ist{background: url(/assets/img/serviços/istImg.png);}
.svcImg.acs{background: url(/assets/img/serviços/acsImg.png);}
.svcImg.evt{background: url(/assets/img/serviços/evtImg.png);}
.svcImg.axc{background: url(/assets/img/serviços/axcImg.png);}
.svcImg.cam{background: url(/assets/img/serviços/camImg.png);}

.svcInfos{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.svcTitle{
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: var(--cor3);
}

.svcTitle::after{
    content: '';
    width: 25%;
    height: 2px;
    background: linear-gradient(90deg, var(--cor2), var(--cor1));
    position: absolute;
    left: 0;
    bottom: -9px;
}

.svcDescricao{
    font-size: 18px;
    padding-right: 10px;
    color: var(--cor4);
}

.svcBtn{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 13px;
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-image-slice: 1;
    color: #000;
    background: linear-gradient(180deg, var(--cor2), var(--cor1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform .5s ease-in-out;
    cursor: pointer;
}

.svcBtn:hover{
    transform: translateY(-10px);
}

/* Faixa Informações Dois ------------------------------------------------------------------ */

.info{
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info.two{
    background: #fff;
}

.info > a{
    font-size: 30px;   
    padding: 20px 100px;
    transition: all .5s ease-in-out;   
}

.info.two > a{
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-image-slice: 1;
    background: linear-gradient(90deg, var(--cor2), var(--cor1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info.two > a:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 10px #d1d1d1;    
}

/* Seção Cinco ------------------------------------------------------------------ */

#sctFive{
    width: 100%;
    height: 700px;
    display: flex;
    padding-top: 90px;
    background: #F8F8F8;
}

#sctFive > section{
    width: 50%;
}

#sctFive .sctsTitle::after{
    width: 12%;
}   

#empImg{
    background: url(/assets/img/geral/axBanner.png);
    background-size: cover;
    background-position: center;
}

#empDescricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 70px 35px 60px;
}

.empTxt{
    font-size: 15px;
    font-weight: 300;
    padding: 10px 0;
    color: var(--cor4);
    text-align: justify;
}

.empTxt > span{
    color: var(--cor1);
    font-weight: 600;
}

#empRedesSociais > a > svg, #infoRs > a > svg{
    fill: var(--cor1);
    margin: 0 20px 0 0;
}

/* Seção Cinco ------------------------------------------------------------------ */

#sctSix{
    width: 100%;
    padding: 110px 38px;
}

#pdtDescricao{
    font-size: 16px;
    color: var(--cor4);
    margin-top: 5px;
    font-weight: 300;
}

#produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 45px;
}

.pdtCard{
    width: 290px;
    height: 370px;
    padding: 16px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #F6F6F6;
}

.pdtCard > img{
    cursor: pointer;
}

.pdtTitle{
    font-size: 16px;   
    font-weight: 700; 
    position: relative;
    color: var(--cor4);
}

.pdtTitle > span{
    font-weight: 400;
}

.pdtTitle::after{
    content: "";
    width: 15%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -20px;
    background: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-radius: 5px;
}

.sda{
    width: 220px;
}

.trf{
    width: 230px;
}

/* Faixa Informações Três ------------------------------------------------------------------ */

.info.three{
    background: url(/assets/img/geral/infoThreeBg.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.info.three > a{
    border: 1px solid #fff;
    background: #ffffff18;  
    color: #fff;
}

.info.three > a:hover{
    transform: translateY(-10px);
}

/* Seção Sete ----------------------------------------------------------------------------------*/

#sctSeven{
    width: 100%;
    padding: 80px 50px;
}

#clientes{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.cltImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.cltImg.noView{
    display: none;
}

/* Faixa Informações Quatro ------------------------------------------------------------------ */

.info.four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
}

.infoRsTitle{
    font-size: 50px;
    font-weight: 400;
    color: var(--cor1);
    text-transform: uppercase;
}

.infoRsDescricao{
    font-size: 16px;
    color: var(--cor4);
    font-weight: 300;
    margin-bottom: 22px;
}

/* Seção Instagram ------------------------------------------------------------------ */

#instagram{
    width: 100%;
    height: 500px;
}

/* Seção Contato ------------------------------------------------------------------ */

#infoContato{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato{
    width: 100%;
    height: 615px;
    display: flex;
}

#contato > section{
    width: 50%;
}

#dadosCtt{
    background: url(/assets/img/geral/cttBg.png);
    background-size: cover;
    background-position: center;
    padding: 100px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cttBfIcon{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
    position: relative;
}

.cttBfIcon::before{
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: -35px;;
}

.cttBfIcon.ed::before{background: url(/assets/img/icones/iconMapa.png);}
.cttBfIcon.tl::before{background: url(/assets/img/icones/iconContato.png);}
.cttBfIcon.em::before{background: url(/assets/img/icones/iconEmail.png);top: 3px;}

.fdCtt > p{
    font-size: 18px;
    color: #d8d8d8;
    font-weight: 300;
}

.fdCtt > p > a{
    color: #d8d8d8;
    text-decoration: underline;
}

#formCttBox{
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formCtt{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#formCtt > h4{
    font-size: 18px;
    color: var(--cor1);
}

#formCtt > input, #formCtt > textarea{
    width: 100%;
    border: 1px solid #d3d3d3;
    padding: 9px 12px;
    color: var(--cor4);
    font-size: 15px;
    outline: none;
}

#formCtt > input::placeholder{
    color: var(--cor4);
}

#formCtt > button{
    border: 2px solid var(--cor1);
    background: transparent;
    font-size: 18px;
    color:var(--cor1);
    padding: 5px 60px;
    font-weight: 400;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#formCtt > button:hover{
    background: var(--cor1);
    color: #fff;
    font-weight: 400;
}

#formCtt > textarea{
    height: 200px;
}


/* Mapa ------------------------------------------------------------------ */

#mapaAx{
    width: 100%;
    height: 580px;
}

/* Nav Bar Footer -------------------------------------------------------- */

#navBarFooter{
    width: 100%;
    height: 50px;
    background: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#navFooterLinks{
    display: flex;
}

.navLinkFooter{
    padding: 0px 20px;
}

.navLinkFooter > a{
    font-size: 12px;
    color: var(--cor5);
    font-weight: 300;
    position: relative;
    transition: all .5s ease-in-out;
}

.navLinkFooter > a:hover{
    color: #fff;
}

.navLinkFooter > a::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: linear-gradient(90deg, transparent, #fff);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navLinkFooter > a:hover::after{
    transform: scaleX(1);
    transform-origin: left;     
}

#footerAx{
    width: 100%;
    height: 200px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3e3e3e;
}

#footerTxt{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#footerTxt > a{
    padding: 7px 30px;
    background: var(--cor1);
    color: #fff;
    font-weight: 300;
    border-radius: 3px;
    margin-bottom: 20px;
}

#footerTxt > p{
    color: #fff;
    font-weight: 300;
}

#footerTxt > p > a{
    color: #fff;
    transition: all .4s ease-in-out;
}

#footerTxt > p > a:hover{
    color: var(--cor1);    
}

#footerAx > #redesSociais{
    margin-right: 235px;
}

#footerAx > img{
    height: 90%;
}

/* Responsividade ------------------------------------------------------------- */
@media(1300px >= width){
    #sctOne{
        padding: 50px 100px;
    }

    #sctThree{
        height: 625px;
    }

    .cardVtg{
        width: 260px;
        height: 331px;
        padding: 20px;
    }

    .cardImg.se{
        width: 50px;
        padding-bottom: 10px;
    }
    .cardImg.eq{
        width: 37px;
    }
    .cardImg.es{
        width: 45px;
    }
    .cardImg.ri{
        width: 48px;
        padding-bottom: 10px;
    }

    .tituloVtg{
        font-size: 20px;
    }

    .descricaoVtg{
        font-size: 15px;
    }

    #sctFour{
        padding: 40px 10px 130px 10px;
    }

    .svcBox{
        width: 500px;
        height: 325px;
    }

    .svcTitle{
        font-size: 24px;
    }

    .svcDescricao{
        font-size: 15px;
    }

    #sctFive{
        height: 850px;
    }

    #empDescricao{
        justify-content: space-around;
    }
}

/* Media 1200PX ------------------------------------------ */
@media(1200px >= width){
    #sctOne{
        padding: 50px 30px;
    }

    #sctTwo{
        height: 450px;
    }

    .cardVisao.est{
        padding-bottom: 30px;
    }

    #sctThree{
        padding: 60px 100px;
        height: max-content;
    }

    #sctThree > section{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cardVtg{
        margin: 5px;
    }

    .conector{
        width: 50px;
    }

    .conector.n{
        display: none;
    }
    
    .conector.r{
        bottom: -30px;
        right: 40%;
        transform: rotate(90deg);
    }

    .cltImg.view.five{
        display: none;
    }

    .svcCardDetalhes{
        width: 75%;
        top: 10%;
        left: 12.5%;
    }
}

/* Media 1000PX ------------------------------------------ */
@media(1000px >= width){
    .toggleMenu{
        width: 30px;
        height: 30px;
        background: url(/assets/img/icones/menu.svg);
        background-size: cover;
        position: absolute;
        top: 63px;
        right: 65px;
        cursor: pointer;
        display: block;
        transition: all 1s;
        z-index: 2;
    }

    .toggleMenu.active{
        background: url(/assets/img/icones/menuX.svg) no-repeat;
        cursor: pointer;
        background-size: cover;
    }

    #navBarLinks{
        position: absolute;
        display: none;
        top: 105px;
        right: 65px;
        width: 30%;
        height: 50%;
        border-radius: 5px;
        background: #f6f6f6;
        flex-direction: column;
        justify-content: center;
    }

    #navBarLinks::after{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: #f6f6f6;
        transform: rotate(135deg);
        top: -2px;
        right: 5px;
    }

    .navLink{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eaeaea;
    }

    .navLink:nth-child(6){
        border-bottom: 0;
    }

    .navLink > a{
        background: linear-gradient(180deg, var(--cor2), var(--cor1));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 400;
    }

    #navBtn{
        display: none;
    }

    #navBarLinks.active{
        display: flex;
    }

    #boasVindas h1{
        font-size: 45px;
    }  
    
    #boasVindas h3{
        font-size: 15px;
    }
    
    #btnBv{
        font-size: 14px;
        padding: 10px 20px;
    }

    #infoOne h1{
        font-size: 35px;
    }

    #sctTwo{
        height: 100%;
    }

    .cardVisao{
        padding-top: 60px;
    }

    .cardVisao > img{
        width: 70px;
    }

    .cardVisao.est{
        padding-bottom: 50px;
    }

    .tituloCard{
        font-size: 20px;
    }

    .descricaoCard{
        font-size: 12px;
        padding: 0 20px;
    }

    #sctFive{
        padding: 0 80px;
        height: max-content;
    }

    #empImg{
        display: none;
        display: none;
    }

    #sctFive > section{
        width: 100%;
    }

    .empTxt:nth-child(1){
        margin-top: 10px;
    }

    #empRedesSociais{
        padding-top: 15px;
        margin: auto;
    }

    #footerAx > img{
        display: none;
    }

    #footerAx > #redesSociais{
        margin-right: 0;
    }
}

/* Media 900PX --------------------------------------- */

@media(900px >= width){
    .cltImg.view.four{
        display: none;
    }

    #contato{
        height: 500px;
    }

    #dadosCtt{
        padding: 40px 85px;
    }

    .cttBfIcon{
        font-size: 17px;
    }

    .fdCtt > p{
        font-size: 12px;
    }

    #formCttBox{
        padding: 30px;
    }
    
    #formCtt > h4{
        font-size: 16px;
    }

    #formCtt > input, #formCtt > textarea{
        font-size: 12px;
    }

    #formCtt > button{
        font-size: 15px;
    }

}

/* Media 800PX ------------------------------------------- */
@media(800px >= width){

    #sctTwo{
        flex-wrap: wrap;
        height: max-content;
        background: url(/assets/img/geral/sctTwoBg.png);
        background-size: cover;
        background-attachment: fixed;
    }
    #techVideo{
        display: none;
    }

    .cardVisao{
        padding: 20px 0;
    }

    .cardVisao > img{
        width: 70px;
    }

    .cardVisao.est{
        padding-bottom: 15px;
    }

    .tituloCard{
        font-size: 16px;
        padding: 20px 0 10px 0;
    }

    .descricaoCard{
        font-size: 12px;
        padding: 0 20px;
    }
    
    #sctThree{
        padding: 60px 40px;
        margin-top: 0;
    }

    #sctFive{
        padding: 0 60px;
    }

}

/* Media 700PX ------------------------------------------- */
@media(700px >= width){

    .toggleMenu{
        top: 53px;
    }

    #navBarLinks{
        top: 105px;
    }

    #axLogo img{
        height: 80%;
    }
    
    #boasVindas h1{
        font-size: 35px;
        text-align: center;
    }  
    
    #boasVindas h3{
        font-size: 12.5px;
        text-align: center;
        margin-top: 20px;
    }
    
    #btnBv{
        font-size: 12px;
        padding: 10px 20px;
    }

    #infoOne{
        height: 150px;
    }

    #infoOne h1{
        font-size: 25px;
    }

    .descricaoCard{
        padding: 0 40px;
    }

    .tituloVtg{
        padding: 20px 0 22px 0;
    }
    
    .descricaoVtg{
        padding-right: 20px;
    }

    .sctsTitle{
        font-size: 20px;
    }

    .info{
        height: 170px;  
    }

    .info > a{
        font-size: 20px;   
        padding: 20px 100px;  
    }

    #pdtDescricao{
        font-size: 13px;
    }

    #clientes{
        justify-content: space-evenly;
    }

    #sctSeven{
        padding: 80px 50px 40px 50px;
    }

    .cltImg.view.three{
        display: none;
    }

    .infoRsTitle{
        font-size: 38px;
    }
    
    .infoRsDescricao{
        font-size: 13px;
    }

    #footerTxt > a{
        font-size: 12px;
    }

    #footerTxt > p{
        font-size: 13px;
    }
}

/* Media 620PX ------------------------------------------- */
@media(620px >= width){
    .conector.n{
        display: block;
    }

    #sctFour{
        padding: 40px 0 80px 0;
    }

    .sctsTitle.one{
        padding-left: 10px;
    }

    #servicos{
        width: 100%;
    }

    .svcBox{
        width: 450px;
        height: 293px;
    }  

    .svcInfos{
        padding: 20px 15px;
    }
    
    .svcTitle{
        font-size: 20px;
    }

    .svcDescricao{
        font-size: 12px;
    }

    .svcBtn{
        font-size: 11px;
        height: 35px;
    }

    .info{
        height: 150px;  
    }

    .info > a{
        font-size: 15px;   
        padding: 15px 60px;  
    }

    #sctFive{
        padding: 0 5px;
    }

    #empDescricao{
        padding: 35px;
    }

    .empTxt{
        font-size: 14px;
        padding: 5px 0;
    }

    .sctsTitle.one::after{
        left: 8px;
    }

    .sctsTitle.two{
        font-size: 18px;
    }

    #sctSix{
        padding: 110px 38px 50px 38px;
    }

    #clientes{
        justify-content: center;
    }

    .cltImg.view.two{
        display: none;
    }

    #sctSeven{
        padding: 80px 50px 45px 50px;
    }

    
    #infoContato{
        height: 120px;
    }

    #contato{
        height: max-content;
        flex-direction: column;
    }

    #contato > section{
        width: 100%;
    }

    #dadosCtt{
        padding: 40px 85px 10px 85px;
    }

    .cttBfIcon{
        font-size: 17px;
    }

    .fdCtt{
        margin-bottom: 30px;
    }

    .fdCtt > p{
        font-size: 12px;
    }
    
    #formCttBox{
        border: 0;
    }

    #formCtt > h4{
        margin-bottom: 10px;
    }

    #formCtt > input, #formCtt > textarea{
        font-size: 13px;
        margin-top: 10px;
    }

    #formCtt > button{
        font-size: 15px;
        margin-top: 20px;
    }

    #mapaAx{
        height: 450px;
    }

    .toggleFooter{
        width: 25px;
        height: 25px;
        position: absolute;
        background: url(/assets/img/icones/menu.svg);
        background-size: cover;
        cursor: pointer;
        transition: all 1s;
        z-index: 2;
    }

    .toggleFooter.active{
        background: url(/assets/img/icones/menuX.svg);
        background-size: cover;
        cursor: pointer;
    }

    #navFooterLinks{
        display: none;
        position: absolute; 
        background: var(--cor3);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 35%;
        margin-bottom: 300px;
        border-radius: 5px;
        transition: all .4s;
    }

    
    #navFooterLinks::after{
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: var(--cor3);
        transform: rotate(135deg);
        bottom: -8px;
        right: auto;
    }

    .navLinkFooter{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #474747
    }

    .navLinkFooter:nth-child(6){
        border-bottom: 0;
    }

    .navLinkFooter > a{
        color: #f6f6f6;
        font-weight: 300;
    }

    #navFooterLinks.active{
        display: flex;
    }

    #footerAx{
        padding: 55px;
        flex-direction: column;
        justify-content: center;
    }

    #footerTxt{
        text-align: center;
        align-items: center;
    }

    #footerAx > #redesSociais{
        margin-top: 20px;
    }

    .svcCardDetalhes, #tpEvt{
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }
}   

/* Media 400PX ------------------------------------------- */
@media(400px >= width){
    .svcTitle{
        font-size: 19px;
    }

    #infoContato > .infoRsTitle{
        font-size: 34px;
    }
    
    #footerTxt > p{
        font-size: 12px;
    }
}   

/* Media 330PX ------------------------------------------- */
@media(330px >= width){
    #infoOne h1{
        font-size: 20px;
    }
}   