@import url(global.css);

/* Seção 1 ------------------------------------------------------------------ */

#sctOne{
    width: 100%;
    height: 650px;
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
    background: linear-gradient(90deg, #1e73becf,#35dab4c1), 
    url(/assets/img/banners/bannerAx.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* Barra de Navegação --------------------------------------------- */

#navBar{
    width: 100%;
    height: 55px;  
    padding: 0 0 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#axLogo{
    height: 100%;
}

#axLogo img{
    height: 100%;
}

#navBarLinks{
    display: flex;
    align-items: center;
}

.navLink{
    padding: 0 45px 0 0;
}

.navLink a{
    font-size: 14px;
    font-weight: 300;
    color: var(--cor5);
    position: relative;
    transition: all .5s ease-in-out;
}

.navLink a:hover{
    color: #fff;
}

.navLink a::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background: linear-gradient(90deg, transparent, #fff);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navLink a:hover::after{
    transform: scaleX(1);
    transform-origin: left; 
}

#navBtn{
    width: 170px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}

#navBtn:hover{
    background: #fff;
}

#navBtn a{
    font-size: 12px;
    color: #fff;
    transition: all .5s ease-in-out;
}

#navBtn:hover a{
    color: var(--cor3);
}

/* Boas Vindas --------------------------------------------- */

#boasVindas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boasVindas h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}  

#boasVindas h3{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

#btnBv{
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-image-slice: 1;
    color: #fff;
    margin-top: 40px;
    padding: 10px 30px;
    transition: all .4s ease-in-out;
}

#btnBv:hover{
    transform: translateY(5px);
    border: 1px solid #fff;
    background: #fff;
    color: var(--cor3);
}

/* Ícones Redes Sociais --------------------------------------------- */

.iconsRs{
    margin: 0 10px;
    width:22px;
    fill: var(--cor5);
    transition: all .3s ease-in;
}

.iconsRs:hover{transform: translateY(-5px);}

.iconsRs.f:hover{fill: #2973BA;}
.iconsRs.i:hover{fill: #E03173;}
.iconsRs.w:hover{fill: #5AF472;}

/* Faixa Informações ------------------------------------------------------------------ */

#infoOne{
    width: 100%;
    height: 220px;
    background: #23262d ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infoOne h1{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
}

/* Seção Dois ------------------------------------------------------------------ */

#sctTwo{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background: transparent;
}

/* Vídeo --------------------------------------------- */

#techVideo{
    position: absolute;
    filter: opacity(90%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* Cards Visão --------------------------------------------- */

.cardVisao{
    width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardVisao.est{
    padding-bottom: 80px;
}

.tituloCard{
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    padding: 35px 0 30px 0;
}

.descricaoCard{
    text-align: center;
    padding: 0 35px;
    color: #d5d5d5;
    font-weight: 300;
}

/* Seção Três ------------------------------------------------------------------ */

#sctThree{
    width: 100%;
    height: 725px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardImg{
    width: 63px;
    height: 68px;
}

.cardImg.se{
    width: 63px;
    padding: 4.5px 0;
}
.cardImg.eq{
    width: 46px;
    padding: 4.5px 0;
}
.cardImg.es{
    width: 55px;
    height: 68px;
}
.cardImg.ri{
    width: 60px;
    padding: 4.5px 0;
}

.cardVtg{
    width: 290px;
    height: 370px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    position: relative;
}

.tituloVtg{
    font-size: 24px;
    color: var(--cor1);
    font-weight: 500;
    padding: 35px 0 40px 0;
}

.descricaoVtg{
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

.conector{
    position: absolute;
    right: -50px;
    bottom: 42%;
    z-index: 1;
}

/* Seção Quatro ------------------------------------------------------------------ */

#sctFour{
    width: 100%;
    height: 1765px;
    padding: 40px 38px 0 38px;
    background: #f8f8f8;
}

.sctsTitle{
    display: inline-block;
    position: relative;
    color: var(--cor3);
    font-size: 24px;
    font-weight: 500;
}

.sctsTitle::after{
    content: '';
    width: 35%;
    height: 2px;
    position: absolute;
    background: linear-gradient(90deg, #f8f8f8, var(--cor1));
    left: 0;
    bottom: 0;
    border-radius: 10px;
}

#servicos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.svcBox{
    width: 592px;
    height: 387px;
    display: flex;
}

.svcBox section{
    width: 50%;
    height: 100%;
}

.svcImg.seg{background: url(/assets/img/serviços/segImg.png);}
.svcImg.ala{background: url(/assets/img/serviços/alaImg.png);}
.svcImg.cer{background: url(/assets/img/serviços/cerImg.png);}
.svcImg.ist{background: url(/assets/img/serviços/istImg.png);}
.svcImg.acs{background: url(/assets/img/serviços/acsImg.png);}
.svcImg.evt{background: url(/assets/img/serviços/evtImg.png);}
.svcImg.axc{background: url(/assets/img/serviços/axcImg.png);}
.svcImg.cam{background: url(/assets/img/serviços/camImg.png);}

.svcInfos{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.svcTitle{
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: var(--cor3);
}

.svcTitle::after{
    content: '';
    width: 25%;
    height: 2px;
    background: linear-gradient(90deg, var(--cor2), var(--cor1));
    position: absolute;
    left: 0;
    bottom: -9px;
}

.svcDescricao{
    font-size: 18px;
    padding-right: 10px;
    color: var(--cor4);
}

.svcBtn{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 13px;
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-image-slice: 1;
    color: #000;
    background: linear-gradient(180deg, var(--cor2), var(--cor1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform .5s ease-in-out;
}

.svcBtn:hover{
    transform: translateY(-10px);
}

/* Faixa Informações Dois ------------------------------------------------------------------ */

.info{
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info.two{
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.info > a{
    font-size: 30px;   
    padding: 20px 100px;
    transition: all .5s ease-in-out;   
}

.info.two > a{
    border: 1px solid;
    border-image: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-image-slice: 1;
    background: linear-gradient(90deg, var(--cor2), var(--cor1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info.two > a:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 10px #d1d1d1;    
}

/* Seção Cinco ------------------------------------------------------------------ */

#sctFive{
    width: 100%;
    height: 700px;
    display: flex;
    padding-top: 90px;
    background: #F8F8F8;
}

#sctFive > section{
    width: 50%;
}

#sctFive .sctsTitle::after{
    width: 12%;
}   

#empImg{
    background: url(/assets/img/geral/axBanner.png);
    background-size: cover;
    background-position: center;
}

#empDescricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 70px 35px 60px;
}

.empTxt{
    font-size: 15px;
    font-weight: 300;
    padding: 10px 0;
    color: var(--cor4);
    text-align: justify;
}

.empTxt > span{
    color: var(--cor1);
    font-weight: 600;
}

#empRedesSociais > a > svg, #infoRs > a > svg{
    fill: var(--cor1);
    margin: 0 20px 0 0;
}

/* Seção Cinco ------------------------------------------------------------------ */

#sctSix{
    width: 100%;
    height: 1985px;
    padding: 110px 38px;
}

#pdtDescricao{
    font-size: 16px;
    color: var(--cor4);
    margin-top: 5px;
    font-weight: 300;
}

#produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 45px;
}

.pdtCard{
    width: 290px;
    height: 370px;
    padding: 16px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #F6F6F6;
}

.pdtCard > img{
    cursor: pointer;
}

.pdtTitle{
    font-size: 16px;   
    font-weight: 700; 
    position: relative;
    color: var(--cor4);
}

.pdtTitle > span{
    font-weight: 400;
}

.pdtTitle::after{
    content: "";
    width: 15%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -20px;
    background: linear-gradient(90deg, var(--cor2), var(--cor1));
    border-radius: 5px;
}

.sda{
    width: 220px;
}

.trf{
    width: 230px;
}

/* Faixa Informações Três ------------------------------------------------------------------ */

.info.three{
    background: linear-gradient(90deg, #35dab4bd, #0c3151ac),
    url(/assets/img/geral/bgInfoTwo.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.info.three > a{
    border: 1px solid #fff;
    background: #ffffff18;
    color: #fff;
}

.info.three > a:hover{
    transform: translateY(-10px);
}

/* Seção Sete ----------------------------------------------------------------------------------*/

#sctSeven{
    width: 100%;
    height: 475px;
    padding: 80px 50px;
}

#clientes{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.cltImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.cltImg.noView{
    display: none;
}

/* Faixa Informações Quatro ------------------------------------------------------------------ */

.info.four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
}

#infoRsTitle{
    font-size: 50px;
    font-weight: 400;
    color: var(--cor1);
    text-transform: uppercase;
}

#infoRsDescricao{
    font-size: 16px;
    color: var(--cor4);
    font-weight: 300;
    margin-bottom: 22px;
}

/* Seção Instagram ------------------------------------------------------------------ */

#instagram{
    width: 100%;
    height: 500px;
}

/* Seção Contato ------------------------------------------------------------------ */

